@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Unbounded:wght@300&display=swap'); 


.jumbotron {
   
    background-image: url("../images/pexels-andrea-piacquadio-3761509.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
#navigation ,
#sticky-footer {
    background: #00fbff;
    background: linear-gradient(to right, #00e6ad, #33AEFF);
   
} */

#navbar-colapse {
    font-family: Rubik Vinyl;
}

#navigation ,
#sticky-footer {
    background: #8ebfbf;
    background: linear-gradient(to right, #229726, #b12525);
   
}